{% extends 'admin.admin.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('admin.static',filename='css/simditor.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{ url_for('admin.static',filename='css/simditor-markdown.css') }}" media="screen"
          charset='utf-8'>
    <link rel="stylesheet" href="{{ url_for('admin.static',filename='css/simditor-fullscreen.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('admin.static',filename='css/simditor-emoji.css') }}" media="screen">
        <style>
    .simditor .simditor-body{
        min-height: 350px;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="row" style="padding:0;margin:0">
        <form action="{{ url_for('admin.new_blog') }}" method="POST">
            <div class="card col s12 m12 l12" style="padding-left:20px;margin:0;min-height: 800px;">
                <div class="card-action">
                    <div class="input-flied">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="chips">
                        <input class="custom-class" name="tags[]">
                    </div>
                </div>
                <div class="card-content">
                <textarea id="simditor" name="content" style="height: 1000px;"></textarea>
                </div>
                <div class="card-action" style="border:none;">
                    <button class="btn waves-effect waves-light left blue accent-3" type="submit" name="action">提交
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/module.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/uploader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/simditor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/marked.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/to-markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/simditor-markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/simditor-fullscreen.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/simditor-emoji.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var editor = new Simditor({
                textarea: $('#simditor'),
                placeholder: 'blog',
                defaultImage:'{{ url_for("upload.static",filename="default.jpg") }}',
                upload: {
                    url:"{{ url_for('upload.upload') }}",
                    fileKey:"image",
                    leaveConfim:'正在上传...'
                },
                pasteImage: true,
                toolbar: ['title', 'bold', 'italic', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', 'link', 'image', 'hr', 'indent', 'outdent', 'alignment', 'markdown', 'emoji', '|', 'fullscreen'],
                emoji: {imagePath: '{{url_for("admin.static",filename="image/emoji/")}}'}
            })
        })
    </script>
{% endblock %}

