<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('admin.static',filename='css/admin.css')}}" rel="stylesheet">
    <link href="{{url_for('admin.static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <!--link href="{{url_for('admin.static',filename='css/materialize.min.css.1')}}" rel="stylesheet">
	-->	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!-- 导航栏 -->
<header>
	<nav class="white">
		<ul class="row">
			<li class="left col m2 l2 brand-logo">
				<a href="#" class="left">无名万物</a>	
			</li>

			<li class="right col m10 l10">
				<ul class="right">
					<li><a href="#">无名万物</a></li>
					<li><a href="#">无名万物</a></li>
					<li><a href="#"><i class="fa fa-bell fa-fw"></i> 无名万物</a></li>
					<li><a href="#"><i class="fa fa-user fa-fw"></i> 无名万物</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>


<!-- main -->
<main>
	<div class="row white">
		<div class="col s12 m2 l2 side-bar left white">
			<ul class="collapsible" data-collapsible="accordion">
    			<li>
			      <div class="collapsible-header"><i class="fa fa-book fa-faw"></i>博客管理</div>
			      <div class="collapsible-body">
			      	<ul class="collection">
				    <a class="collection-item center-align" href="#"><i class="fa fa-envira fa-fw"></i> 所有博客</a>
				    <a class="collection-item center-align" href="#"><i class="fa fa-edit fa-fw"></i> 新建博客</a>
						</ul>
			      </div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="fa fa-user fa-fw"></i> 用户管理</div>
			      <div class="collapsible-body">
			      	<ul class="collection">
						<a class="collection-item center-align" href="#">评论管理</a>
						<a class="collection-item center-align" href="#">文章管理</a>
						<a class="collection-item center-align" href="#">用户管理</a>
						</ul>
			      </div>
			    </li>
			    <li>
			      <div class="collapsible-header"><i class="fa fa-snowflake-o fa-spin fa-fw"></i>评论管理</div>
			      <div class="collapsible-body">
			      	<ul class="collection">
						<a class="collection-item center-align" href="#">评论管理</a>
						<a class="collection-item center-align" href="#">文章管理</a>
						<a class="collection-item center-align" href="#">用户管理</a>
						</ul>
			      </div>
			    </li>
			    <li>
                              <div class="collapsible-header"><i class="fa fa-cog fa-fw fa-spin"></i>设置</div>
                              <div class="collapsible-body">
                                <ul class="collection">
                                                <a class="collection-item center-align" href="#">评论管理</a>
                                                <a class="collection-item center-align" href="#">文章管理</a>
                                                <a class="collection-item center-align" href="#">用户管理</a>
                                                </ul>
                              </div>
                            </li>
                            <li>
                              <div class="collapsible-header"><i class="fa fa-tags fa-spin fa-fw"></i>标签管理</div>
                              <div class="collapsible-body">
                                <ul class="collection">
                                                <a class="collection-item center-align" href="#">评论管理</a>
                                                <a class="collection-item center-align" href="#">文章管理</a>
                                                <a class="collection-item center-align" href="#">用户管理</a>
                                                </ul>
                              </div>
                            </li>


  			</ul>
		</div>

		<div class="col s12 m10 l10 content right">
		<div class="card">
			<div class="card-content">
				asdfasdf
			</div>
		</div>
			
		</div>
	</div>
</main>

<!-- footer -->
<footer>
	
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <script type="text/javascript">
 	$(document).ready(function(){
 		$('.carousel').carousel();
 		$('.collapsible').collapsible();
 	})
 </script>
</body>
</html>
