{% extends 'admin.admin.html' %}

{%block head%}
 {{super()}}
  <link rel="stylesheet" href="{{url_for('admin.static',filename='css/simditor.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('admin.static',filename='css/simditor-markdown.css')}}" media="screen" charset='utf-8'>
  <link rel="stylesheet" href="{{url_for('admin.static',filename='css/simditor-fullscreen.css')}}" media="screen">
  <link rel="stylesheet" href="{{url_for('admin.static',filename='css/simditor-emoji.css')}}" media="screen">
{%endblock%}

{% block main %}
    <div class="row" style="padding-left: 10px;padding-right: 15px;">
    <div class="card col s12 m12 l12">
     <div class="card-action">新建博客</div>
    </div>
    <form action="{{url_for('admin.new_blog')}}" method='POST'>
    <div class="card col s12 m12 l12">
      <div class="card-action">
        <div class="input-flied">
          <input type="text" name="title" class="browser-default" placeholder="标题">
        </div>
      </div>
    </div>

    <div class="card col s12 m12 l12">
      <div class="card-action">
        <div class="input-flied">
          <input type="text" name="tag" class="browser-default" placeholder="tag">
          <input type="text" name="tag" class="browser-default" placeholder="tag">
        </div>
      </div>
    </div>


    <div class="card col s12 m12 l12">
      <div class="card-content" style="padding-left: 5px;padding-right: 5px;">
        <textarea id="simditor" name="content">
          
        </textarea>
      </div>
    </div>
    <div class="row col s10 m10 l10 offset-m1 offset-l1 offset-s1">
        <button class="btn waves-effect waves-light left blue accent-3" type="submit" name="action">提交
        <i class="material-icons right">send</i>
        </button>
    </div>
  </div>
{% endblock %}


{% block script%}
{{super()}}
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/module.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/hotkeys.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/uploader.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/simditor.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/marked.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/to-markdown.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/simditor-markdown.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/simditor-fullscreen.js')}}"></script>
  <script type="text/javascript" src="{{url_for('admin.static',filename='js/simditor-emoji.js')}}"></script>
  <script type="text/javascript">
      $(document).ready(function(){
         var editor = new Simditor({
          textarea: $('#simditor'),
          placeholder: 'blog',
          upload: true,
          pasteImage: false,
          toolbar:['title','bold','italic','fontScale','color','|','ol','ul','blockquote','code','table','link','image','hr','indent','outdent','alignment','markdown','emoji','|','fullscreen'],
          emoji:{imagePath:'{{url_for("admin.static",filename="image/emoji/")}}'}
         })
      })
  </script>
{% endblock %}

