<ul id="slide-out" class="sidenav sidenav-fixed collapsible" data-collapsible="accordion" style="border-top: none;">
  	<li class="white" style="height: 64px;border-bottom: 1px #ccc solid;">
  	
  		<p  style="height: inherit;line-height: 64px;margin: auto;font-size: 1.2em;text-align: center;">
  			无名万物
  		</p>
  
  	</li>
    <li>
	  <div class="collapsible-header"><i class="fa fa-list fa-fw"></i>博客管理</div>
	  <div class="collapsible-body">
		<ul class="collection">
		  <a class="collection-item center-align" href="{{url_for('admin.list_blog')}}">所有博客</a>
		  <a class="collection-item center-align" href="{{url_for('admin.new_blog')}}">新建博客</a>
		</ul>
	  </div>
	</li>
    <li>
      <div class="collapsible-header"><i class="fa fa-users fa-fw"></i>用户管理</div>
      <div class="collapsible-body">
      	<ul class="collection">
			   <a class="collection-item center-align" href="#">用户审核</a>
			   <a class="collection-item center-align" href="#">所有用户</a>
			  </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-comments fa-fw"></i>评论管理</div>
      <div class="collapsible-body">
      	<ul class="collection">
			<a class="collection-item center-align" href="#">评论管理</a>
			<a class="collection-item center-align" href="#">文章管理</a>
			<a class="collection-item center-align" href="#">用户管理</a>
			</ul>
      </div>
    </li>
  </ul>
