{% extends 'admin.admin.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('admin.static',filename='css/simditor.css') }}" media="screen,projection">
{% endblock %}

{% block main %}
    <form action="{{ url_for('admin.edit_blog',id=blog.id) }}" method="POST">
        <div class="card-action">
            <div class="input-flied">
                <input type="text" name="title" value="{{ blog.title }}">
            </div>
            <div class="chips">
                <input class="custom-class" name="tags[]">
            </div>
        </div>
        <div class="card-content">
            <textarea id="simditor" name="content" style="height: 1000px;">
                {{ blog.content }}
            </textarea>
        </div>
        <div class="card-action">
            <a>
            <button class="btn waves-effect waves-light blue accent-3" type="submit" name="action">提交
                <i class="material-icons right">send</i>
            </button>
            </a>
        </div>
    </form>

{% endblock %}


{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/module.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/uploader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('admin.static',filename='js/simditor.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var editor = new Simditor({
                textarea: $('#simditor'),
                placeholder: 'blog',
                defaultImage: '{{ url_for("upload.static",filename="default.jpg", _external=True) }}',
                upload: {
                    url: "{{ url_for('upload.upload') }}",
                    fileKey: "image",
                    leaveConfim: '正在上传...'
                },
                pasteImage: true
            })
        })
    </script>
{% endblock %}

