{% extends "base.html" %}

{% block head%}
    {{supper()}}
{% endblock%}

{% block header %}

{% endblock %}

{% block content %}
<div class="main-content grey lighten-4" style="margin-top: -50px;">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l6 offset-m1 offset-l3">
                <div class="card-panel container hoverable">
                    <div class="card-title row center-align">
                        <h5>无名万物 - 登录</h5>
                    </div>
                    <div class="divider"></div>
                    <br>
                    <div class="row card-content">
                        <form class="login_form" method="POST" action="{{ url_for('blog.login') }}">
                            <!-- 错误消息 -->
                            {% for cate,message in get_flashed_messages(with_categories=True) %}
                            {% if message %}
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <div class="red-text">
                                    {{ message }}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <!-- Csrf -->
                            {{ form.hidden_tag() }}
                            <!-- 帐号 -->
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <div class="input-field">
                                    {%if form.email.errors%}
                                        {{ form.email(class="invalid",type="email") }}
                                        <label for="email" style="width: 100%" data-error="{{form.email.errors[0]}}"></label>
                                    {%else%}
                                        {{ form.email(class="validate",type="email") }}
                                        <label for="email">Email</label>
                                    {%endif%}
                                </div>
                            </div>
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <div class="input-field">
                                    {%if form.password.errors%}
                                        {{ form.password(class="invalid",type="password") }}
                                        <label for="password" style="width: 100%" data-error="{{form.password.errors[0]}}"></label>
                                    {%else%}
                                        {{ form.password(class="validate",type="password") }}
                                        <label for="password">Password</label>
                                    {%endif%}
                                </div>
                            </div>
                            <!--remeber me-->
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <div class="checkbox">
                                    {{ form.remember(class="filled-in") }}
                                    {{ form.remember.label }}
                                </div>
                            </div>
                            <!--登陆按钮-->
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>

                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <button class="btn waves-effect waves-light" type="button">
                                    <a href="{{ url_for('blog.facebook_login') }}"> Login in Facebook</a>
                                </button>
                            </div>

                        </form>
                    </div>
                    <div class="divider"></div>
                    <div class="row card-footer">

                    </div>
                </div><!--end card-panel-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</div>
{% endblock %}

{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock %}
