{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block content %}
<div class="main-content grey lighten-4" style="margin-top: -50px;">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l6 offset-m1 offset-l3">
                <div class="card-panel container hoverable">
                    <div class="card-title row center-align">
                        <h5>无名万物 - 登录</h5>
                    </div>
                    <div class="divider"></div>
                    <br>
                    <div class="row card-content">
                        <form class="login_form"  method="POST" action="{{url_for('blog.login')}}">
                            {{ form.hidden_tag() }}
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                {{ form.email.label }}
                                {% if form.email.errors %}
                                    {% for e in form.email.errors %}
                                        <p class="help-block"> {{e}} </p>
                                    {% endfor %}
                                {% endif %}
                                {{ form.email(class="form-control") }}
                            </div>
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                {{ form.password.label }}
                                {% if form.password.errors %}
                                    {% for e in password.errors %}
                                        <p class="help-block"> {{e}} </p>
                                    {% endfor %}
                                {% endif %}
                                {{ form.password(class="form-control") }}
                            </div>
                            <!--remeber me-->
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <div class="input">
                                    {{ form.remember.label }}
                                    {{ form.remember(class="form-control") }}
                                </div>
                            </div>
                            <!--登陆按钮-->
                            <div class="row col s12 m10 l10 offset-m1 offset-l1">
                                <button class="btn waves-effect blue accent-3" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="divider"></div>
                    <div class="row card-footer">

                    </div>
                </div><!--end card-panel-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</div>
{% endblock %}

{% block footer %}
    {% include 'includes/_footer.html'%}
{% endblock %}
