{% extends "base.html" %}

{%  block content %}
    <div class="container">
    <div class="row col s12 m10 l10 offset-m1 offset-l1">
        <div class="row col s12 m10 l10 offset-l1 offset-m1">
            {% if post%}
                <div class="card hoverable">
                    <!-- title -->
                    <div class="card-content">
                        <h5>{{post.title}}</h5>
                        <div class="grey-text">
                            <ul class="list-group">
                                <li class="list-group-item" style="float:left"><i class="fa fa-user fa-fw"></i> {{post.users.nickname}}</li>
                                <li class="list-group-item" style="float:left;margin-left:40px"> <i class="fa fa-calendar fa-fw"></i>{{post.update_at}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider" style="clear:both"></div>
                    <!-- content -->
                    <div class="card-content">
                        <p>{{post.content}}</p>
                    </div>

		            <div class="card-action">
                        <a href="post/{{post.id}}">查看更多</a>
                    </div>
                </div><!--end card-->
                {% endif %}
        </div>

<div class="row col s12 m10 l10 offset-l1 offset-m1">
    <div class="card hoverable">
        {% for comment,user in comments if comments %}
            <div class="card-content avatar">
                <img class="circle" src="http://materializecss.com/images/yuna.jpg" alt=""></img>
                <span class="title">{{user.nickname}}</span>
                <a href="#!" class="secondary-content"><i class="material-icons">star_border</i></a>
                <a href="#!" class="secondary-content"><i class="material-icons">favorite_border</i></a>
                <p>
                {{comment.comment |safe }}
                </p>
            </div>
            <div class="divider"></div>
        {% endfor %}
    </div>
</div>

        <div class="row col s12 m10 l10 offset-l1 offset-m1">
            <!-- 评论表单 -->
            {% if form %}
                <div class="card hoverable row col s12 m12 l12">
                    <div class="card-content row col s12 m12 l12">
                        <form action="{{url_for('blog.post',post_id=post.id)}}" method="post">
                            <p>留下你的评论！</p>
                            <!-- Csrf -->
                            {{ form.hidden_tag() }}
			    {% if current_user.is_authenticated %}
			    	<input type="hidden" name="user_id" value="{{ current_user.id }}">
			    {% endif %}
                            <div class="row input-field">
                                <textarea id="editor" class="material-textarea" name="comment"></textarea>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light left blue accent-3" type="submit" name="action">提交评论
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    </div><!--end container-->
{% endblock %}


{% block footer %}

{% endblock %}

{% block javascript %}
    {{super()}}
<script type="text/javascript" src="../../static/js/module.js"></script>
<script type="text/javascript" src="../../static/js/hotkeys.js"></script>
<script type="text/javascript" src="../../static/js/uploader.js"></script>
<script type="text/javascript" src="../../static/js/simditor.js"></script>
<script type="text/javascript" src="../../static/js/highlight.pack.js"></script>
<script type="text/javascript">
    var editor = new Simditor({
        textarea: $('#editor'),
        placeholder: 'comment',
        upload: true,
        pasteImage: true
    });
    hljs.initHighlightingOnLoad()
</script>

{% endblock %}

