/* 初始化配置*/
*{
    margin: 0px;
    padding: 0px;
}
nav ul li a{outline:none;}
.dropdown-content{outline:none;border:none;}
/* 设置整体的一些css属性 */
html{
    height: 100%;
}
html::-webkit-scrollbar{
    width:5px;
    height:1px;
}
html::-webkit-scrollbar-thumb{
    border-radius:10px;
    background-color: #535353;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
html::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color:#ededed;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #000;
    background-color: #f3f3f3;
    background-image: url("../cubes.png");
    font-family:  "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";
    //font-family: Helvetica, Consolas, Monaco, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
header{
    flex: 0 0 auto;
}
.main-content{
    flex:1 0 auto;
}
footer{
    flex: 0 0 auto;
}

/* 私有的属性*/
.selector-for-some-widget {
  box-sizing: content-box;
}

nav ul li a{
    color:#000;
}
nav .brand-logo{
    color:#000;
    font-size:1.7em;
}
.nav-logo{
    border: 0px;
    vertical-align: text-bottom;
    width: 30px;
    height: 30px;
    margin-left: 40px;
}

.nav-item{
    float: left;
}
.nav-item > li{
    width: 80px;
    text-align: center;
}
.nav-login>li{
    width: 120px;
}

/*浏览器宽度不小于1201px时*/
@media screen and (min-width: 1201px){
    .container{
        width: 90%;
        margin-top:30px;
    }
}
/*浏览器不大于1200px时*/
@media screen and (max-width: 1200px){
    .container{
        width: 90%;
        margin-top:30px;
    }
}
/*浏览器宽度不大于978px时*/
@media screen and (max-width: 978px){
    .container{
        width: 90%;
        margin-top:30px;
    }
}
/*浏览器宽度不大于500px时*/
@media screen and (max-width: 500px) {
    .container{
        width: 100%;
        margin-top:30px;
    }
}

/*.container{
    width: 90%;
    margin-top: 30px;
}*/
.toast{
    min-width: 150px;
    height:56px;
}
.ellipsis{
    overflow: hidden;
    text-overflow:clip;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.card-content p{
    line-height:25px;
}

code, kbd, samp{
    font-family:Consolas,monospace;
}