<!-- 字符集-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="shortcut icon" type="image/ico" href="{{ url_for('blog.static', filename='favicon.ico') }}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css">
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/font-awesome.min.css') }}" media="screen,projection">
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/style.css') }}" media="screen,projection">
    
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/highlight/monokai-sublime.css') }}" media="screen,projection">
