<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--
<script src="{{url_for('blog.static',filename='js/materialize.min.js')}}"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
<script src="{{ url_for('blog.static',filename='js/init.js') }}"></script>
<script src="{{ url_for('blog.static',filename='js/lazysizes.min.js') }}"></script>
<script src="{{ url_for('blog.static',filename='js/highlight.pack.js') }}"></script>

<script type="text/javascript">
    (function () {
        {% for cate,message in get_flashed_messages(with_categories=True) %}
            {% if message %}
                M.toast({html: '{{message}}'})
            {% endif %}
        {% endfor %}
    })();
</script>