{% extends "blog.base.html" %}
{% set active="gallery" %}

{%  block main %}

    <div class="container" style="margin: 0 auto;">
        <div class="row">
            <div class="col l3 m4 s12">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">北京之旅</span>
                    </div>
                    <div class="card-action">
                        <a href="#">查看更多</a>
                    </div>
                </div>
            </div>
            <div class="col l3 m4 s12">
                 <div class="card hoverable">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">北京之旅</span>
                    </div>
                    <div class="card-action">
                        <a href="#">查看更多</a>
                    </div>
                </div>
            </div>
            <div class="col l3 m4 s12">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">北京之旅</span>
                    </div>
                    <div class="card-action">
                        <a href="#">查看更多</a>
                    </div>
                </div>
            </div>
            <div class="col l3 m4 s12">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">北京之旅</span>
                    </div>
                    <div class="card-action">
                        <a href="#">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
{{super()}}
{% endblock %}
