{% extends "blog.base.html" %}


{% block main %}
<div class="main-content">

    <div class="container">
        <div class="row">
            <div class="col s12 m10 l10 offset-l1 offset-m1">
                <div class="card hoverable">
                    <div class="card-content">
                        <h5>无名万物</h5>
                        <div class="grey-text">
                            <ul>
                                <li> <i class="fa fa-calendar fa-fw"></i> August 29 2017</li>
                                <li><i class="fa fa-user fa-fw"></i> Haojie Ren</li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.I am a very simple card.
                            I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>

                </div><!--end card-->
            </div><!--end col-->
        </div> <!--end row-->
    </div><!--end container-->
</div> <!-- end main-content -->
{% endblock %}

