<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<header>
	<nav>
		<div class="nav-wrapper white black-text">
			<a href="#" class="black-text">无名万物</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#" class="black-text">Language</a></li>
				<li><a href="#" class="black-text">System</a></li>
				<li><a href="#" class="black-text">Web</a></li>
				<li><a data-target="dropdown1" class="black-text dropdown-trigger">dropdown</a>
					<ul id='dropdown1' class='dropdown-content'>
						<li><a href="#!">one</a></li>
						<li><a href="#!">two</a></li>
						<li class="divider"></li>
						<li><a href="#!">three</a></li>
						<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
						<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
					</ul>
				</li>
			</ul>
			<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only right"><i class="material-icons black-text">menu</i></a>
		</div>
	</nav>
</header>

    <ul id="slide-out" class="sidenav">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
   
       


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>

<script type="text/javascript">
	(function(){
        $('.sidenav').sidenav()
       	$('.collapsible').collapsible();
        $('.dropdown-trigger').dropdown({
        	alignment:'left',
        	constrainWidth:false,
        	coverTrigger:false,
        	hover:true
        })
        })();
</script>
</body>
</html>