<div class="navbar-fixed">
    <nav class="hoverable z-depth-3">
        <div class="nav-wrapper white navbar-fixed">
             <!--logo -->
            <a class="brand-logo left black-text" href="{{ url_for('blog.index') }}">
                <img src="{{ url_for('blog.static', filename='favicon.ico') }}" class="nav-logo"> 无名万物
            </a>
            <!--  menu -->
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right black-text hide-on-large-only"><i class="material-icons">menu</i></a>
            <!--item -->
            <!--  用户模块 -->
            <ul class="hide-on-med-and-down right nav-item nav-login" style="border-left: 1px solid #ccc">
                <!--  用户templates -->
                {% if current_user.is_authenticated %}
                <li><a class="dropdown-trigger" data-target="person">{{ g.user.nickname }}</a></li>
                <ul id="person" class="dropdown-content">
                    <li><a href="{{ url_for('account.setting') }}">个人中心</a></li>
                    <li><a href="{{ url_for('account.logout') }}">注销</a></li>
                </ul>
                {% else %}
                <li><a class="dropdown-trigger" data-target="person"><i class="material-icons">person</i></a></li>
                <ul id="person" class="dropdown-content">
                    <li><a href="{{ url_for('account.login') }}">登录</a></li>
                    <li><a href="{{ url_for('account.register') }}">注册</a></li>
                </ul>
                {% endif %}
            </ul>

            <!--  导航栏  -->
            <ul class="hide-on-med-and-down right nav-item">
                <li {% if active=="index" %}class="active"{% endif %}><a href="{{url_for('blog.index')}}">首页</a></li>
                <li {% if active=="language" %}class="active"{% endif %}><a href="{{url_for('blog.tag',tag_name='语言')}}" class="dropdown-trigger" data-target="code_lang">语言</a></li>
                <li {% if active=="system" %}class="active"{% endif %}><a href="{{url_for('blog.tag', tag_name='系统')}}" class="dropdown-trigger" data-target="system">系统</a></li>
                <li {% if active=="gallery" %}class="active"{% endif %}><a href="{{ url_for('blog.gallery') }}">相册</a></li>
                <li {% if active=="about" %}class="active"{% endif %}><a href="{{url_for('blog.about') }}">关于</a></li>
                <li><a>
                    <i class="material-icons">search</i>
                </a></li>
            </ul>

            <!--语言下拉菜单-->
            <ul id="code_lang" class="dropdown-content">
                <li><a href="{{url_for('blog.tag',tag_name='Python')}}">Python</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('blog.tag',tag_name='Java')}}">Java</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('blog.tag',tag_name='Nodejs')}}">Nodejs</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('blog.tag',tag_name='C/C++')}}">C/C++</a></li>
            </ul>

            <!-- 系统下拉菜单 -->
            <ul id="system" class="dropdown-content">
                <li><a href="{{url_for('blog.tag',tag_name='Windows')}}">Windows</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('blog.tag',tag_name='Linux')}}">Linux</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('blog.tag',tag_name='Mac_OS')}}">Mac OS</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('blog.tag',tag_name='IOS')}}">IOS</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('blog.tag',tag_name='Android')}}">Android</a></li>
            </ul>

            
        </div>
    </nav>
</div>
