{% extends "blog.base.html" %}
{% set active="" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('blog.static', filename='css/simditor.css',_external=True) }}"
          media="screen,projection">
    <style>
    .simditor .simditor-body{
        min-height: 130px;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row col s12 m12 l12">
            <div class="row col s12 m10 l10 offset-l1 offset-m1">
                {% if post %}
                    <div class="card hoverable">
                        <!-- title -->
                        <div class="card-content">
                            <h5>{{ post.title }}</h5>
                            <div class="grey-text">
                                <ul>
                                    <li><i class="fa fa-user fa-fw"></i> {{ post.users.nickname }}</li>
                                    <li><i class="fa fa-tags fa-fw"></i> {{ tags.name }}</li>
                                    <li><i class="fa fa-calendar fa-fw"></i> {{ moment(post.create_at).fromNow(True)}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="divider" style="clear:both"></div>
                        <!-- content -->
                        <div class="card-content">
                            <p>{{ post.content|safe }}</p>
                        </div>

                        <div class="card-action">
                            <a href="{{ url_for('blog.post',post_id=post.id) }}">查看更多</a>
                        </div>
                    </div><!--end card-->
                {% endif %}
            </div>

            <div class="row col s12 m10 l10 offset-l1 offset-m1">
                <div class="card hoverable">
                    {% for comment,user in comments if comments %}
                        <div class="card-content avatar">
                            <img class="circle" src="http://materializecss.com/images/yuna.jpg" alt=""
                                 style="width:42px;height:42px;algin:center;"></img>
                            <span class="title"
                                  style="line-height:42px;padding:5px 8px;text-align:center">{{ user.nickname }}</span>
                            <a href="#!" class="secondary-content"><i class="material-icons">star_border</i></a>
                            <a href="#!" class="secondary-content"><i class="material-icons">favorite_border</i></a>
                            <p>
                                {{ comment.comment |safe }}
                            </p>
                        </div>
                        <div class="divider"></div>
                    {% endfor %}
                </div>
            </div>

            <div class="row col s12 m10 l10 offset-l1 offset-m1">
                <!-- 评论表单 -->
                {% if form %}
                    <form action="{{ url_for('blog.post',post_id=post.id) }}" method="post" id="comment_form">
                        <div class="card hoverable row col s12 m12 l12">
                            <div class="card-content">
                                <p>评论:</p>
                                <!-- Csrf -->
                                {{ form.hidden_tag() }}
                                {% if current_user.is_authenticated %}
                                    <input type="hidden" name="user_id" value="{{ current_user.id }}">
                                {% endif %}
                                <div class="row input-field">
                                    <textarea id="editor" class="material-textarea" name="comment"></textarea>
                                </div>
                            </div>
                        <div class="card-action">
                        <a href="#" name="action" onclick="document:comment_form.submit()">提交评论<i class="fa fa-send fa-fw"></i></a>
                        </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div><!--end container-->
{% endblock %}


{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('blog.static',filename='js/module.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('blog.static',filename='js/hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('blog.static',filename='js/uploader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('blog.static',filename='js/simditor.js') }}"></script>

    <script type="text/javascript">
        var editor = new Simditor({
            textarea: $('#editor'),
            placeholder: 'comment',
            upload: true,
            pasteImage: true,
            height: 150
        });
        hljs.initHighlightingOnLoad()
    </script>

{% endblock %}

