{% extends "blog.base.html" %}
{% from "blog._macro.html" import render_pagination %}
{% set active="index" %}

{% block main %}
    <!-- content 正文 -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <!-- start 左边-->
                <div class="col s12 m12 l9">
                    <!-- post -->
                    {% for post,user in posts.items if post.title %}
                        <div class="card hoverable" style="margin-bottom: 30px;">
                            <div class='card-content' style="padding-bottom: 5px;padding-top: 10px;">
                                <a class="black-text" onmouseover="this.className='orange-text accent-2'" onmouseout="this.className='black-text'" href="{{ url_for('blog.post',post_id=post.id) }}"><h5>{{ post.title }}</h5></a>
                                <div class='grey-text'>
                                    <ul style="clear: inherit">
                                        <li class='left'><i class="fa fa-user fa-fw"></i> {{ user.nickname }} &nbsp;&nbsp;
                                        </li>
                                        <li class='left'><i
                                                class="fa fa-calendar fa-fw"></i> {{ moment(post.create_at).fromNow(True) }}
                                            &nbsp;&nbsp;
                                        </li>
                                        <li class='left'><i class="fa fa-tag fa-fw"></i> Python Flask &nbsp;&nbsp;</li>
                                        <li class="left"><i class="fa fa-eye fa-fw"></i> 11500 &nbsp</li>
                                        <li style="clear: both;"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <!--
                <div class="card-image">
                   <img data-src="{{url_for('blog.static',filename='banner3.jpg')}}" class='lazyload'>
                   <span class="card-title"><h5>{{post.title}}</h5></span>
                </div>
                -->
                            <div class="card-content" style="height:200px;overflow:hidden;padding-bottom: 10px;">
                                <p>{{ post.content|safe }} </p>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('blog.post',post_id=post.id) }}">阅读全文</a>
                            </div>
                        </div>
                    {% endfor %}
                    {{ render_pagination(posts, 'blog.index') }}
                    <br>
                </div>
                <!-- end 左边  -->

                <!-- start  右边  -->
                <div class="col s12 m12 l3">
                    <div class="card hoverable">
                        <div class="collection with-header black-text">
                            <p class="collection-item">
                                <i class="fa fa-snowflake-o  fa-fw fa-lg"></i>&nbsp;&nbsp; <b>最新文章</b>
                            </p>
                            {% for r in recent %}
                                <a href="{{ url_for('blog.post',post_id=r.id) }}" class="collection-item black-text">
                                    <span style="width: 180px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{ r.title }}</span>
                                </a>
                            {% endfor %}

                        </div>
                    </div>

                    <!-- tag 标签 -->
                    <div class="card hoverable">
                        <div class="collection with-header black-text">
                            <p class="collection-item">
                                <i class="fa fa-tags  fa-fw fa-lg"></i>&nbsp;&nbsp; <b>标签云</b>
                            </p>
                            {% for tag, total in top_tags %}
                                <a href="{{ url_for('blog.tag',tag_name=tag ) }}" class="collection-item black-text">
                                    <span class="left-align">{{ tag }}</span>
                                    <span class="right">{{ total }} 篇 </span>
                                </a>

                            {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- 每日一笑 -->
                    <div class="card hoverable">
                        <div class="collection with-header">
                            <p class="collection-item teal-text">
                                <i class="fa fa-smile-o  fa-fw fa-lg"></i>&nbsp;&nbsp; 每日一笑
                            </p>
                            <ul>
                                <li class="collection-item">
                                    昨晚吃鸡，因为没点solo，排到了个不认识的人。 开始跟他交谈他没说话，直到我捡到98k，问他要倍镜时，耳机里传来了一声熟悉的东北口音“给俺，俺打的准！”
                                    我的脑海突然闪过一个身影，我二话不说立马把枪扔给他，因为他的名字叫shunliu！
                                </li>
                                <li class="collection-item">
                                    昨晚吃鸡，因为没点solo，排到了个不认识的人。 开始跟他交谈他没说话，直到我捡到98k，问他要倍镜时，耳机里传来了一声熟悉的东北口音“给俺，俺打的准！”
                                    我的脑海突然闪过一个身影，我二话不说立马把枪扔给他，因为他的名字叫shunliu！
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>   <!-- end 右边-->
            </div>  <!--  end row  -->
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating red btn-large"><i class="material-icons">add</i></a>
        <ul>
            <li><a class="btn-floating red"
                   style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i
                    class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"
                   style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i
                    class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"
                   style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i
                    class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"
                   style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i
                    class="material-icons">attach_file</i></a></li>
        </ul>
    </div>
{% endblock %}

